@import "./scss/bootstrap";
@import "./variables";
@import "./src/components/Products/style";
@import "./src/components/Header/style";
@import "./src/components/ProductTable/style";
@import "./src/components/MyProfile/style";

@font-face {
  font-family: 'icomoon';
  src: url('./icomoon/icomoon.eot?2bkxeo');
  src: url('./icomoon/icomoon.eot?2bkxeo#iefix') format('embedded-opentype'),
  url('./icomoon/icomoon.ttf?2bkxeo') format('truetype'),
  url('./icomoon/icomoon.woff?2bkxeo') format('woff'),
  url('./icomoon/icomoon.svg?2bkxeo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shape:before {
  content: "\e900";
  color: #ff6825;
}

.icon-shopping-cart:before {
  content: "\e901";
  color: #fff;
}

.icon-user:before {
  content: "\e902";
  color: #fff;
}


@font-face {
  font-family: 'poppinsblack';
  src: url('./fonts/poppins-black.woff2') format('woff2'),
  url('./fonts/poppins-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsblack_italic';
  src: url('./fonts/poppins-blackitalic.woff2') format('woff2'),
  url('./fonts/poppins-blackitalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsbold';
  src: url('./fonts/poppins-bold.woff2') format('woff2'),
  url('./fonts/poppins-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsextrabold';
  src: url('./fonts/poppins-extrabold.woff2') format('woff2'),
  url('./fonts/poppins-extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsitalic';
  src: url('./fonts/poppins-italic.woff2') format('woff2'),
  url('./fonts/poppins-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinslight';
  src: url('./fonts/poppins-light.woff2') format('woff2'),
  url('./fonts/poppins-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsmedium';
  src: url('./fonts/poppins-medium.woff2') format('woff2'),
  url('./fonts/poppins-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsregular';
  src: url('./fonts/poppins-regular.woff2') format('woff2'),
  url('./fonts/poppins-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldbold';
  src: url('./fonts/oswald-bolditalic.woff2') format('woff2'),
  url('./fonts/oswald-bolditalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldlight';
  src: url('./fonts/oswald-light.woff2') format('woff2'),
  url('./fonts/oswald-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldmedium';
  src: url('./fonts/oswald-medium.woff2') format('woff2'),
  url('./fonts/oswald-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswald_regularregular';
  src: url('./fonts/oswald-regular.woff2') format('woff2'),
  url('./fonts/oswald-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

///HeaderContainer
.heading-text {
  font-size: 48px;
  font-weight: 700;
}

///Catalog///

.catalog {
  font-family: oswald_regularregular;
  color: #4D4D4D;
  font-weight: $font-weight-semi-bold;
  font-size: 48px;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.wrap-catalog {
  padding: 30px 20px;
  background: rgba(249, 249, 249, 0.98);

  h4 {
    font-family: oswald_regularregular;
    font-weight: $font-weight-medium;
    font-size: 18px;
  }
}

.wrap-price {
  input {
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
  }

  button {
    font-size: 12px;
    padding: 5px;
    text-transform: uppercase;
    color: $white;
    border: none;
    background-color: $black;
    opacity: .7;
  }
}

///////

//Filter///
.wrap-sort-currency {
  span {
    margin-right: 25px;
    font-size: 1.25rem;
    color: $orange;
    font-family: oswald_regularregular;

  }

  option:hover {
    color: $orange;
  }
}

#currency {
  margin-right: 25px;
}

#currency, #sort {
  //font-family: oswald_regularregular;
  padding: 5px 7px;
  border: none;
  font-size: $default-size;
  background: #EFEFEF;
  opacity: .5;
  outline: none;
}

/////////////////////
//HomePage////
.wrap-product {
  background: rgba(249, 249, 249, 0.98);

  h1, .price {
    font-size: $h4-font-size;
    font-weight: $font-weight-medium;
    font-family: oswaldmedium;
  }

  .author {
    font-family: oswald_regularregular;
  }

  img {
    cursor: pointer;
    vertical-align: top;
    width: 100%;
  }

  .price {
    color: $orange;
  }
}

///page Product Info///
.product-info {
  font-family: oswaldmedium;

  img {
    width: 100%;
  }

  h1 {
    text-transform: uppercase;
    font-weight: $font-weight-semi-bold;
  }

  h4 {
    text-transform: uppercase;
  }

  p {
    font-family: poppinsregular;
    font-weight: $font-weight-medium;
    font-size: 20px;
  }

  button {
    font-family: oswaldlight;
    font-weight: $font-weight-light;
    color: $white;
    background-color: #333;
    font-size: 18px;
    letter-spacing: 1.5px
  }

  .select-sum {
    font-weight: $font-weight-medium;

    span {
      font-family: oswald_regularregular;
      color: $orange;
      font-size: $headings-font-size;
    }
  }
}

.col-img {
  background: rgba(249, 249, 249, 0.98);
}

//Modal//
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;;
  top: 0;
  z-index: 5;
  background: rgba(0, 0, 0, .2);


  .wrap-modal-cart {
    background-color: $white;
    text-align: right;

    thead {
      vertical-align: middle;

      th {
        font-family: oswaldlight;
        font-size: 24px;
      }

      h4 {
        font-family: oswaldmedium;
        text-transform: uppercase;
        font-size: 28px;
      }

    }


    .button-bottom {
      border: 1px solid $orange;
      background-color: $white;
      padding: 7px 75px;
      margin: 0 5px;
      color: #848383;
      font-size: 24px;
      font-weight: 600;
      font-family: oswaldlight;

      &:hover {
        border: 1px solid $white;
        background-color: $orange;
        color: $white;
      }
    }
  }

  .bottom-modal {
    background-color: #ccc;
    //background-color: #FF6825;
    //opacity: 0.06;
  }

  .table-responsive {
    width: 90vw;
    text-align: center;
    //padding: 20px 0
  }
}
.container{
  width: 1140px;
  margin: 0 auto;
}
