.list-category {
  //outline: none;
  background-color: inherit;
  color: $white;
  font-weight: 600;
  border: none;

  &:focus, &:active {
    outline: none;
  }

  &:before {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-top: 5px solid $white;
    right: 0;
    transform: translate(150%, 120%);
  }
}
